# Compiled class files
*.class

# IntelliJ IDEA files
.idea/

# Eclipse files
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
nb-configuration.xml.orig
*.moved

# Maven files
target/

# Gradle files
build/

# Log files
*.log

# JAR files
*.jar

# System files
.DS_Store
Thumbs.db
